
body {
    background-color: #808080;
}
h1 {
color: white;
font-family: 'Verdana';
font-size: 4rem;
}

a {
color: white;
font-family: 'Verdana';
font-size: 2rem;
}
.container {
    width: 100%;
    text-align: center;
}

#frame { 
    zoom: 1.7; 
    -moz-transform: scale(1.7); 
    transform: scale(1.7); 
    -moz-transform-origin: 0 0; 
    transform-origin: 0 0; 
}

#frame2 { 
    zoom: 3; 
    -moz-transform: scale(3); 
    transform: scale(3); 
    -moz-transform-origin: 0 0; 
    transform-origin: 0 0; 
}
