
body {
    background-color: #808080;
}
h1 {
color: white;
font-family: 'Verdana';
}

a {
color: white;
font-family: 'Verdana';
}
.container {
    width: 100%;
    text-align: center;
  }
.frame {
    align-self: center;
    align-content:center;
}